* {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #090b0a;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.app {
  background-color:  #f4f6f4;
}

.header {
  background-color: #9dafab ;
}

.navbar {
  display: flex;
  flex-direction: row;

}
.footer {
  background-color: #dfc3d1;
}

.article_card {
  background-color: #c7ced1;
  margin: 10px;
  border-radius: 5px;
  padding: 10px;
}

.article_img {
  width: 90%;
}

p {
  margin: 5px 0px;
}

h3 {
  margin-bottom: 10px;
}

.nav-btns {
  display: flex;
  justify-content: space-between;
}

.nav-bar {
  display: flex;

}

.nav-btn {
  margin: 10px;
}



